body,html {
    height: 100%;
    margin: 0;
}

@keyframes fade-in {
    from { opacity: 0; } 
    to { opacity: 1; }
}

.bgimg {
    background-image: url('images/background.png');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddddd;
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 25px;
}

.middle {
    text-align: center;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
}

.social-links svg {
    fill: #dddddd;
}

#name {
    animation: fade-in 1s linear 0.3s 1 both;
}

#date, .social-links {
    animation: fade-in 1s linear 2s 1 both;
}